{% load static %}

<div class="container_mapa px-4 sm:px-7">
    <div class="container_contex">

      <div class="map   {% if request.resolver_match.url_name == 'MapaVista' %} map--vista {% endif %}"  id="map" data-evento-id="{{ evento_activo.id }}">
        <!-- TOTAL GENERAL ------------------- -->
        <div class="total-general">
          <div class="total-svg">
              <h4 class= "{% if request.resolver_match.url_name == 'MapaVista' %}
                      text-gray-900
                  {% else %}
                      text-white
                  {% endif %}
                  ">Participantes</h4>

              <div class="beneficiarios">
                  <svg viewBox="0 0 448 512">
                      <path
                          d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z" />
                  </svg>
                  <p class=" {% if request.resolver_match.url_name == 'MapaVista' %}
                      text-gray-900
                  {% else %}
                      text-white
                  {% endif %}"></p>
              </div>

              <!-- LEYENDA MAPA DE CALOR -->
            <div
                  class="leyenda-calor
                  {% if request.resolver_match.url_name == 'MapaVista' %}
                      text-gray-900
                  {% else %}
                      text-white
                  {% endif %}
                  "
              >
                  <div>
                      <span class="color-box frio"></span>
                      <span>Menor participación</span>
                  </div>

                  <div>
                      <span class="color-box medio"></span>
                      <span>Participación media</span>
                  </div>

                  <div>
                      <span class="color-box alto"></span>
                      <span>Mayor participación</span>
                  </div>

                  
              </div>
            
              {% if evento_activo and evento_activo.mostrar_desglose_por_tipo %}
              <!-- LEYENDA TIPOS -->
              <div
                  class="leyenda-tipos
                  {% if request.resolver_match.url_name == 'MapaVista' %}
                      text-gray-900
                  {% else %}
                      text-white
                  {% endif %}
                  "
              >
                  <span>E = Emprendedores</span>
                  <span>A = Asistentes</span>
              </div>
          {% endif %}

          </div>
        </div>

        <!-- SVG ------------------- -->
        {% include "pages/mapa/secciones/svg_mapa.html" %} 
        
        <!-- Lista ------------------- -->
        {% include "pages/mapa/secciones/map_lista.html" %}
        
        <!-- Reload ------------------- -->
        <button id="reload" class="volver">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512">
                <path
                    d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 288 480 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-370.7 0 73.4-73.4c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-128 128z" />
            </svg>
        </button>
      </div>

      <!-- TABLA ------------------- -->
      <div
          id="selected-svg-container"
          class="selected-svg-container">
      </div>

    </div>
</div>

<!-- --------------------------------------------- -->
<div class="mensaje-error  {% if request.resolver_match.url_name == 'MapaVista' %}
        text-gray-900
    {% else %}
        text-white
    {% endif %}">
    <div class="container_img_error">
        <img
            src="{% static 'img/error.png' %}"
            alt="No disponible en móvil"
        />
    </div>

    <strong>Visualización no disponible</strong>

    <p>
        Este panel está optimizado para pantallas de escritorio.<br>
        Para una mejor experiencia, accede desde un computador o pantalla de mayor tamaño.
    </p>
</div>
<!-- --------------------------------------------- -->
