<div x-data="{ modelOpen: false }" id="addModal">
  <button @click="modelOpen =!modelOpen" class="border border-solid border-white btn_plus_excel flex items-center justify-center px-3 py-2 space-x-2 text-sm tracking-wide text-white capitalize transition-colors duration-200 transform bg-indigo-500 rounded-md dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:bg-indigo-700 hover:bg-indigo-600 focus:outline-none focus:bg-indigo-500 focus:ring focus:ring-indigo-300 focus:ring-opacity-50 w-36" id="openModalButton"  
    onclick="abrir_modal_documento('{% url 'MapaCarga' %}')">
    </p>Cargar Datos<p>  
    <svg class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
    </svg>
  </button>
  {% include "components/modal/modal.html" %}
</div>